syntax = "proto3";

{% block import %}
    {% for file in import_files %}
import "{{ file_path }}/{{ file }}.proto";
    {% endfor %}
{% endblock %}

{% block service %}
    {% for service in services %}
service {{ service.name }} {
        {% for rpc in service.rpcs %}
    {{ rpc.to_rpc_method() }}
        {% endfor %}
}
    {% endfor %}
{% endblock %}

{% block message %}
    {% for message in messages %}
message {{ message.__name__ }} {
            {% for field in message.__meta__.values() %}
    {{ field }} = {{ loop.index }};
            {% endfor %}
}
    {% endfor %}
{% endblock %}
