[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
bumpversion = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
sphinx = "*"
twine = "*"
sphinx-rtd-theme = "*"
pre-commit = "*"
isort = "*"
yapf = "*"
pyre-check = "*"
ipdb = "*"

[packages]
grpcio = "*"
protobuf = "*"
grpcio-tools = "*"
jinja2 = "*"

[requires]
python_version = "3.7"

[scripts]
patch = "bumpversion patch"
init-pre-commit = "pre-commit install"
