[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
bumpversion = "*"
watchdog = "*"
tox = "*"
coverage = "*"
sphinx = "*"
twine = "*"
sphinx-rtd-theme = "*"
pre-commit = "*"
ipdb = "*"
black = "*"
mypy = "*"

[packages]
grpcio = "*"
protobuf = "*"
grpcio-tools = "*"
jinja2 = "*"
configalchemy = "*"
grpcio-reflection = "*"
grpcio-health-checking = "*"

[requires]
python_version = "3.7"

[scripts]
init-pre-commit = "pre-commit install"
format =  "bash -c 'black $@ && git add -u' --"

[pipenv]
allow_prereleases = true
