[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
bumpversion = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
sphinx = "*"
twine = "*"

[packages]
grpcio = "*"
protobuf = "*"
grpcio-tools = "*"
jinja2 = "*"

[scripts]
patch = "bumpversion patch"
